.tabela{
	width: 600px;
}

.centralizar {
margin: 0 auto;
width: 50%; 
text-align: center;
padding: 10px;
}

.alinhar{
	float: left;
}

.area{
	width: 100px;
	height: 100px;
}

#palco_jogo{
	/*display: none; */
}

.borda_inferior{
	border-bottom: 1px solid red;
}

.borda_direita{
	border-right: 1px solid red;
}